In [58]:
# import phenotype
import pandas as pd
ris = pd.read_csv('/home/hermuba/data0118/annotated_RIS/RIS_pivot_ecoli123.csv', dtype = {'Genome ID':str})

cdhit_path = "/home/hermuba/data0118/cdhit/clstr/pangenome_df/Escherichia0.70.clstr.csv"
df = pd.read_csv(cdhit_path, header = 0, index_col = 0)

ris = ris.set_index('Genome ID')
df = df.transpose()
df = df.iloc[:, :-1]

In [59]:
ris = ris.loc[:, ris.count()>50] # eliminate those with small sample

In [88]:
df.head()

,Cluster 0,Cluster 1,Cluster 2,Cluster 3,Cluster 4,Cluster 5,Cluster 6,Cluster 7,Cluster 8,Cluster 9,...,Cluster 31738,Cluster 31739,Cluster 31740,Cluster 31741,Cluster 31742,Cluster 31743,Cluster 31744,Cluster 31745,Cluster 31746,Cluster 31747
1438670.3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
562.23090,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
562.23301,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
562.22588,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
562.22859,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
def preprocessing(df, ris, abx):
    y= ris[abx].dropna()
    X = df.loc[y.index]
    return(X, y)

In [60]:
X, y = preprocessing(df, ris, 'tetracycline')

In [72]:
from scipy.stats import chi2_contingency
pvalues = [chi2_contingency(pd.crosstab(X[column], y))[1] for column in X.columns]

In [76]:
from statsmodels.stats.multitest import multipletests
tf, adjusted, Sidak, bonf = multipletests(pvalues, alpha=0.05, method='fdr_bh', is_sorted=False, returnsorted=False)

In [85]:
import numpy as np
np.array(pvalues).min()

0.0016644926063814722

In [86]:
adjusted.min()

1.0