In [1]:
# import module written for processing our gene mapping to gene ID, filter with e-value, pident
from network_analysis.map_string_to_ID import *

# node_path referes to diamond blastp --in REPRESENTING GENE --db string.dmnd
node_path = '/home/hermuba/data0118/map_to_exist_net/ec_rmplasmid_mentha'
node = read_node_to_df(node_path)

In [12]:
# select nodes with high bitscore with string 511145 proteins
selected_nodes = filter_node(node)

In [13]:
selected_nodes.shape

(5069, 4)

In [16]:
selected_nodes = selected_nodes.drop_duplicates('sseqid')

In [4]:
# read the edge
edge_path = '/home/hermuba/data0118/map_to_exist_net/mentha_ecoli'
edge = pd.read_csv(edge_path, sep = ';')

In [5]:
edge.head()

  Protein A  Gene A Protein B Gene B  Score                PMID
0    P26607  P26607    P07027   UVRY  0.332  15522865 11022030
1    P26602    UBIC    P26602   UBIC  0.210  15690043 24561554
2    P76316    DCYD    P60422   RPLB  0.236           19402753
3    P60422    RPLB    P0A8M6   YEEX  0.236           19402753
4    P60422    RPLB    P02918   MRCA  0.236           19402753

In [6]:
selected_nodes.head()

                       qseqid                sseqid  pident         evalue
3   JMUY01000001_53|1438670.3  sp|P18775|DMSA_ECOLI    99.8   0.000000e+00
7   JMUY01000001_56|1438670.3  sp|P21367|YCAC_ECOLI    99.0  1.400000e-120
8   JMUY01000001_60|1438670.3  sp|P0AC24|FOCA_ECOL6    99.3  3.700000e-162
9   JMUY01000001_60|1438670.3  sp|P0AC25|FOCA_ECO57    99.3  3.700000e-162
10  JMUY01000001_60|1438670.3  sp|P0AC23|FOCA_ECOLI    99.3  3.700000e-162

In [17]:
selected_nodes['sseqid'] = selected_nodes['sseqid'].str.split('|', expand = True)[1]
selected_nodes.set_index('sseqid', inplace = True)

/home/hermuba/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

4998

In [18]:
edge['gene_one'] = edge['Protein A'].map(selected_nodes['qseqid'])
edge['gene_two'] = edge['Protein B'].map(selected_nodes['qseqid'])

edge.dropna(how = 'any', inplace = True) # we do not need interaction between genes that does not exist in our net

# drop useless columns
edge.drop(labels = ['Protein A', 'Protein B'], axis = 1, inplace = True)

In [19]:
edge.shape

(20254, 6)

In [20]:
edge.head()

,Gene A,Gene B,Score,PMID,gene_one,gene_two
1,UBIC,UBIC,0.210,15690043 24561554,JMUY01000006_36|1438670.3,JMUY01000006_36|1438670.3
2,DCYD,RPLB,0.236,19402753,JMUY01000001_1170|1438670.3,JMUY01000004_41|1438670.3
3,RPLB,YEEX,0.236,19402753,JMUY01000004_41|1438670.3,562.23229.con.0048_6|562.23229
4,RPLB,MRCA,0.236,19402753,JMUY01000004_41|1438670.3,562.23614.con.0021_34|562.23614
5,RPLB,DNAA,0.722,15690043 19402753 21288885,JMUY01000004_41|1438670.3,JMUY01000004_438|1438670.3

In [ ]:
edge.to_csv()